{% load static rest_framework %}
<!DOCTYPE html>
<html lang="en" x-data="drfApp" class="antialiased bg-background">
<head>
  {% include "rest_framework/tailwind/components/head.html" %}
  <style>[x-cloak]{display:none!important}</style>
</head>

<body class="min-h-screen flex flex-col bg-background text-foreground [font-feature-settings:'cv11','ss01']">

  {% block navbar %}{% include "rest_framework/tailwind/components/navbar.html" %}{% endblock %}

  {# Content grows to fill the viewport so the footer always sits at the bottom #}
  <div class="flex-1 flex flex-col">
    {% block content %}{% endblock %}
  </div>

  {% include "rest_framework/tailwind/components/footer.html" %}

  {% include "rest_framework/tailwind/components/toasts.html" %}

  {% if django_browser_reload_enabled %}<script src="{% static 'django_browser_reload/reload-listener.js' %}"></script>{% endif %}
</body>
</html>
